version: "3.3"

services:
  zookeeper:
    image: "docker.io/bitnami/zookeeper:3.9.3-debian-12-r15"
    ports:
      - "2181:2181"
    volumes:
      - "zookeeper_data:/bitnami"
    environment:
      - ALLOW_ANONYMOUS_LOGIN=yes
    healthcheck:
      test: ["CMD", "zkServer.sh", "status"]
      interval: 5s
      timeout: 5s
      retries: 15      

  kafka:
    image: "docker.io/bitnami/kafka:3.6.2-debian-12-r0"
    ports:
      - "9092:9092"
      - "9093:9093"
    volumes:
      - "kafka_data:/bitnami"
    environment:
      - KAFKA_CFG_ZOOKEEPER_CONNECT=zookeeper:2181
      - ALLOW_PLAINTEXT_LISTENER=yes
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CLIENT:PLAINTEXT,EXTERNAL:PLAINTEXT
      - KAFKA_CFG_LISTENERS=CLIENT://:9092,EXTERNAL://:9093
      - KAFKA_CFG_ADVERTISED_LISTENERS=CLIENT://kafka:9092,EXTERNAL://localhost:9093
      - KAFKA_INTER_BROKER_LISTENER_NAME=CLIENT
    # depends_on:
    #   - zookeeper
    restart: on-failure
    depends_on:
      zookeeper:
        condition: service_healthy    

  kafdrop:
    image: obsidiandynamics/kafdrop:3.30.0
    depends_on:
      - kafka
    ports:
      - 19000:9000
    environment:
      KAFKA_BROKERCONNECT: kafka:9092

  redpanda-console:
    image: docker.redpanda.com/redpandadata/console:latest
    ports:
      - 18080:8080
    environment:
      - KAFKA_BROKERS=kafka:9092
    depends_on:
      - kafka


volumes:
  zookeeper_data:
    driver: local
  kafka_data:
    driver: local